<div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
    <md-content class="content" ms-scroll id="order-details">
        <div class="page-layout simple">
            <div class="header">
                <div layout="column" layout-align="center center" flex ng-if="vm.isAppointmentBooked()">
                    <div class="h1 mb-10"><b>Agendamento realizado</b></div>
                    <div class="secondary-text text-center"><b>Agora é com a gente! Estamos preparando tudo para te dar o melhor atendimento.</b></div>
                </div>
                <div layout="column" layout-align="center center" flex ng-if="vm.isMechanicOnTheWay()">
                    <div class="h1 mb-10"><b>Mecânico em atendimento</b></div>
                    <div class="secondary-text text-center"><b>Nosso parceiro já está atendendo seu pedido. Fique a vontade para fazer outras coisas que te avisaremos quando o serviço for concluído.</b></div>
                </div>
                <div layout="column" layout-align="center center" flex ng-if="vm.isAppointmentCompleted()">
                    <div class="h1 mb-10"><b>Agendamento concluído</b></div>
                    <div class="secondary-text text-center"><b>Seu pedido foi concluído. Em breve enviaremos detalhes do seu veículo e dos serviços realizados. Obrigado por confiar na NosTrinques!</b></div>
                </div>
                <div layout-gt-sm="row" class="status-bar" hide show-gt-sm>
                    <div class="text-center" flex-gt-sm layout-sm="row">
                        <div>Orçamento solicitado</div>
                        <md-icon md-font-icon="icon-check-circle" class="icon s20 md-accent-fg"></md-icon>
                    </div>
                    <div class="text-center" flex-gt-sm layout-sm="row">
                        <div>Agendamento realizado</div>
                        <md-icon md-font-icon="icon-check-circle" class="icon s20 md-accent-fg"></md-icon>
                        <md-progress-linear md-mode="determinate" value="100" class="status-line md-accent" hide show-gt-sm></md-progress-linear>
                    </div>
                    <div class="text-center" flex-gt-sm layout-sm="row">
                        <div>Mêcânico em atendimento</div>
                        <md-icon md-font-icon="icon-check-circle" class="icon s20 md-accent-fg" ng-if="vm.hasStatus('mechanic-on-the-way')"></md-icon>
                        <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="icon s20" ng-if="!vm.hasStatus('mechanic-on-the-way')"></md-icon>
                        <md-progress-linear md-mode="determinate" value="100" class="status-line md-accent" hide show-gt-sm></md-progress-linear>
                    </div>
                    <div class="text-center" flex-gt-sm layout-sm="row">
                        <div>Agendamento concluído</div>
                        <md-icon md-font-icon="icon-check-circle" class="icon s20 md-accent-fg" ng-if="vm.hasStatus('appointment-completed')"></md-icon>
                        <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="icon s20" ng-if="!vm.hasStatus('appointment-completed')"></md-icon>
                        <md-progress-linear md-mode="determinate" value="100" class="status-line md-accent" hide show-gt-sm></md-progress-linear>
                    </div>
                </div>
                <div layout="row" layout-align="center" class="status-bar" hide-gt-sm>
                    <div layout="column">
                        <div>
                            <md-icon md-font-icon="icon-check-circle" class="icon s20 m-10 md-accent-fg"></md-icon>
                            <md-progress-linear md-mode="determinate" value="100" class="status-line-v md-accent"></md-progress-linear>
                        </div>
                        <div>
                            <md-icon md-font-icon="icon-check-circle" class="icon s20 m-10 md-accent-fg"></md-icon>
                            <md-progress-linear md-mode="determinate" value="100" class="status-line-v md-accent"></md-progress-linear>
                        </div>
                        <div>
                            <md-icon md-font-icon="icon-check-circle" class="icon s20 m-10 md-accent-fg" ng-if="vm.hasStatus('mechanic-on-the-way')"></md-icon>
                            <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="icon m-10 s20" ng-if="!vm.hasStatus('mechanic-on-the-way')"></md-icon>
                            <md-progress-linear md-mode="determinate" value="100" class="status-line-v md-accent"></md-progress-linear>
                        </div>
                        <div>
                            <md-icon md-font-icon="icon-check-circle" class="icon s20 m-10 md-accent-fg" ng-if="vm.hasStatus('appointment-completed')"></md-icon>
                            <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="icon s20 m-10 md-accent" ng-if="!vm.hasStatus('appointment-completed')"></md-icon>
                        </div>
                    </div>
                    <div layout="column">
                        <div class="status-title">Orçamento solicitado</div>
                        <div class="status-title">Agendamento realizado</div>
                        <div class="status-title">Mêcânico em atendimento</div>
                        <div class="status-title">Agendamento concluído</div>
                    </div>
                </div>
            </div>
            <div class="content mt-100" flex>
                <div layout-gt-sm="row" layout-gt-xs="column" layout-sm="column" layout-align-gt-sm="center start" flex-gt-sm="60" flex class="mb-20">
                    <div class="title secondary-text" flex-gt-sm="30">Solicitado em</div>
                    <div class="h3" flex>{{vm.order.createdAt | amDateFormat: 'LLLL'}}</div>
                </div>
                <div layout-gt-sm="row" layout-gt-xs="column" layout-sm="column" layout-align-gt-sm="center start" flex-gt-sm="60" flex class="mb-20">
                    <div class="title secondary-text" flex-gt-sm="30">Agendado para</div>
                    <div class="h3" flex>{{vm.order.appointmentDate | amDateFormat: 'LLLL'}}</div>
                </div>
                <div layout-gt-sm="row" layout-gt-xs="column" layout-sm="column" layout-align-gt-sm="center start" flex-gt-sm="60" flex class="mb-20">
                    <div class="title secondary-text" flex-gt-sm="30">Seu endereço</div>
                    <div class="h3" flex>{{vm.order.address | address}}</div>
                </div>
                <div layout-gt-sm="row" layout-gt-xs="column" layout-sm="column" layout-align-gt-sm="center start" flex-gt-sm="60" flex class="mb-20">
                    <div class="title secondary-text" flex-gt-sm="30">Seu carro</div>
                    <div class="h3" flex>{{vm.order.car | car}}</div>
                </div>
                <div layout-gt-sm="row" flex-gt-sm="60" flex>
                    <div class="title secondary-text" flex-gt-sm="30">Seus serviços</div>
                    <div layout="column" flex>
                        <div layout="row" ng-repeat="service in vm.order.services">
                            <div flex="75">
                                <span class="h3">{{service.name}}</span>
                                <span class="secondary-text">({{service.laborTime | duration}})</span>
                            </div>
                            <div class="h3 text-right" flex><b>{{vm.calculatePriceByService(service) | currency:'R$'}}</b></div>
                        </div>
                        <div layout="row" class="mt-40">
                            <div flex="75" layout="column" layout-align="center start">
                                <b class="h3">Total</b>
                                <span class="secondary-text">(mão de obra + peças)</span>
                            </div>
                            <div class="h1 text-right" flex layout="column" layout-align="center end"><b>{{vm.order.amount.total  | currency:'R$'}}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>
