<div class="order-detail-form-container products md-background-bg md-whiteframe-1dp">
    <table class="dataTable row-buser hover" datatable="ng" dt-options="vm.dtOrdersOptions" dt-instance="vm.dtOrdersInstance">
        <thead>
            <tr>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Serviços</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Status</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Agendado para</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Total</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Ações</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in vm.orders">
                <td ng-bind-html="order.services | services"></td>
                <td>{{order.status}}</td>
                <td>{{order.appointmentDate | amDateFormat: 'DD/MM/YYYY - HH:mm'}}</td>
                <td>{{order.amount.total | currency: 'R$'}}</td>
                <td>
                    <md-button class="edit-button md-icon-button" aria-label="orders details" ng-click="vm.goToOrder(order.$id)">
                        <md-icon md-font-icon="icon-dots-horizontal" class="s20"></md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
