#book {

    .center {

        .header {
            height: 136px !important;
            min-height: 136px !important;
            max-height: 136px !important;
            padding: 24px 0;

            .h1 {

                md-icon {
                    margin-right: 12px;
                }
            }

            .quotes-count {
                margin: 6px 0 0 36px;
            }

            .search {
                position: relative;
                padding-left: 24px;
                max-width: 480px;

                .search-icon {
                    margin: 0 -24px 0 0;
                }

                .search-input {
                    margin: 0 0 0 32px;
                    background: none;
                    font-size: 16px;
                    line-height: 40px;
                    height: 40px;
                    color: #FFFFFF;
                    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
                    transition: border-color 300ms ease;

                    &:focus {
                        border-color: rgba(255, 255, 255, 1);
                    }

                    &::-webkit-input-placeholder {
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }

        .content-card {

            .toolbar {
                padding: 8px;
            }

            .content {
                padding: 0;

                .dataTables_wrapper {

                    .dataTables_scrollHead {
                        min-height: 64px;

                        table {

                            th {
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }
                        }
                    }

                    .dataTables_scrollBody {

                        table {

                            .status {
                                font-size: 12px;
                                white-space: nowrap;
                                padding: 2px 5px;
                                border-radius: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

._md-list-item-inner {
    overflow: hidden;
}

.box-summary {
    .toolbar {
        height: auto !important;
        min-height: 64px !important;
        max-height: 128px !important;
    }
}

#quote {
    .list-service {
        list-style-type: none;
        padding: 0;
        margin-left: 10px;
        margin-top: 0px;
    }
}

#book {
    .content {
        padding: 12px;
    }
    form {
        padding: 12px;
    }
    .ms-stepper .ms-stepper-vertical {
        box-shadow: none;
    }
    .box-summary {
        margin: 12px;
        .list-services {
            margin-top: 3px;
        }
    }
    .fix-to-top {
        position: fixed;
        top: 15px;
        overflow-x: auto;
        bottom: 0;
        height: auto;
    }
    .obs {
        text-align: center;
        font-size: 16px;
    }
    md-progress-circular path {
        stroke: #fff;
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {
    #quote {
        .content {
            padding: 0;
        }
    }
    #book {
        form {
            padding: 0px;
            margin-left: -30px;
        }
        &.page-layout.carded.fullwidth > .center {
            margin: 16px;
        }
    }
}
