<div id="book" class="page-layout carded fullwidth single-scroll" layout="column">
    <div class="top-bg md-accent-bg"></div>
    <div class="center" flex>
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-clipboard-text"></md-icon>
                    <span>Novo Pedido</span>
                </div>
            </div>
        </div>
        <div class="content-card" layout="column" flex>
            <div class="toolbar" layout="row" layout-align="center center">
                <span class="h2 text-center">Responda algumas perguntas simples para ter um orçamento.</span>
            </div>
            <md-content class="content">
                <div layout-gt-sm="row" class="pt-40">
                    <div ng-if="!vm.isQuoteCompleted" flex-gt-sm="70">
                        <form name="book" ms-vertical-stepper ng-submit="vm.submit($event)" ng-model="vm.book" novalidate>
                            <ms-vertical-stepper-step ng-form="bookStep1" step="1" step-title="'Carro'">
                                <div ng-include="'app/main/pages/book/form-steps/book-step-car.html'"></div>
                            </ms-vertical-stepper-step>
                            <ms-vertical-stepper-step ng-form="bookStep2" step="2" step-title="'Serviços'">
                                <div ng-include="'app/main/pages/book/form-steps/book-step-services.html'"></div>
                            </ms-vertical-stepper-step>
                            <ms-vertical-stepper-step ng-form="bookStep3" step="3" step-title="'Localização'">
                                <div ng-include="'app/main/pages/book/form-steps/book-step-address.html'"></div>
                            </ms-vertical-stepper-step>
                            <ms-vertical-stepper-step ng-form="bookStep4" step="4" step-title="'Agendamento'" hide-step="vm.needQuote">
                                <div ng-include="'app/main/pages/book/form-steps/book-step-schedule.html'"></div>
                            </ms-vertical-stepper-step>
                        </form>
                    </div>
                    <div ng-if="vm.isQuoteCompleted" flex-gt-sm="70">
                        <form name="book" ms-vertical-stepper ng-submit="vm.submit($event)" ng-model="vm.book" novalidate>
                            <ms-vertical-stepper-step ng-form="bookStep1" step="1" step-title="'Agendamento'">
                                <div ng-include="'app/main/pages/book/form-steps/book-step-schedule.html'"></div>
                            </ms-vertical-stepper-step>
                        </form>
                    </div>
                    <div flex-gt-sm="30" fix-when-at-top>
                        <box-summary/>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</div>
