<div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
    <md-content class="content" ms-scroll id="car-details">
        <div class="page-layout simple">
            
        </div>
    </md-content>
</div>
