<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
        <md-button id="navigation-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('navigation')" hide-gt-sm aria-label="Toggle navigation" translate translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>
    </div>
    <div layout="row" layout-align="start center">
        <md-progress-circular id="toolbar-progress" ng-disabled="!$root.loadingProgress" class="md-accent" md-diameter="32">
        </md-progress-circular>
        <div class="toolbar-separator"></div>
        <md-menu-bar id="user-menu">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ng-click="$mdOpenMenu()" aria-label="Help" translate translate-attr-aria-label="TOOLBAR.HELP">
                    <div layout="row" layout-align-gt-sm="space-between center" layout-align="center center">
                        <md-icon md-font-icon="icon-help-circle" class="icon"></md-icon>
                        <span class="username" hide show-gt-sm>Ajuda</span>
                    </div>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item class="md-indent">
                        <p class="h4 text-left"><b>SUPORTE AO CLIENTE</b></p>
                    </md-menu-item>
                    <md-menu-item class="md-indent">
                        <p>Dúvidas? Contate-nos</p>
                    </md-menu-item>
                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-email" class="icon"></md-icon>
                        <md-button href="mailto:contato@nostrinques.com?Subject=Dúvida" md-no-ink>contato@nostrinques.com</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
        <div class="toolbar-separator"></div>
        <md-menu-bar id="user-menu">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ng-click="$mdOpenMenu()" aria-label="User settings" translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg" ng-if="!account.authData.photoURL">
                            <img md-menu-align-target class="avatar" ng-src="{{account.authData.photoURL}}" ng-if="account.authData.photoURL">
                        </div>
                        <span class="username" hide show-gt-sm>{{account.profile.fullname.split(' ')[0]}}</span>
                        <md-icon md-font-icon="icon-chevron-down" class="icon s16" hide-xs></md-icon>
                    </div>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                        <md-button ng-click="vm.logout()">Sair</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
</div>
