<div id="dashboard-ecommerce" class="page-layout blank" layout="row">
    <!-- CENTER -->
    <div class="center" flex ms-scroll>
        <!-- CONTENT -->
        <div class="content">
            <div class="widget-group" layout="row" flex="100" layout-wrap>
                <!-- WIDGET 1 -->
                <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">
                    <!-- Front -->
                    <ms-widget-front class="white-bg">
                        <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                            <div class="h3">Frota cadastrada</div>
                        </div>
                        <div class="pt-8 pb-32" layout="column" layout-align="center center">
                            <div class="blue-fg font-size-72 line-height-72">
                                {{vm.analytics.count.cars}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">CARROS</div>
                        </div>
                        <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                            <span class="h4 secondary-text text-truncate">-</span>
                            <span class="h4 ml-8"> </span>
                        </div>
                    </ms-widget-front>
                    <!-- / Front -->
                    <!-- Back -->
                    <ms-widget-back class="p-16 white-bg">
                        <div class="flip-to-front">
                            <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                                <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                            </md-button>
                        </div>
                        <div>
                            Alguns detalhes
                        </div>
                    </ms-widget-back>
                    <!-- / Back -->
                </ms-widget>
                <!-- / WIDGET 1 -->
                <!-- WIDGET 2 -->
                <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">
                    <!-- Front -->
                    <ms-widget-front class="white-bg">
                        <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                            <div class="h3">Orçamentos</div>
                        </div>
                        <div class="pt-8 pb-32" layout="column" layout-align="center center">
                            <div class="red-fg font-size-72 line-height-72">
                                {{vm.quotesCountCompleted}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">PRONTOS</div>
                        </div>
                        <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                            <span class="h4 secondary-text text-truncate">Pendentes:</span>
                            <span class="h4 ml-8">{{vm.quotesCountPending}}</span>
                        </div>
                    </ms-widget-front>
                    <!-- / Front -->
                    <!-- Back -->
                    <ms-widget-back class="p-16 white-bg">
                        <div class="flip-to-front">
                            <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                                <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                            </md-button>
                        </div>
                        <div>
                            Alguns detalhes
                        </div>
                    </ms-widget-back>
                    <!-- / Back -->
                </ms-widget>
                <!-- / WIDGET 2 -->
                <!-- WIDGET 3 -->
                <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">
                    <!-- Front -->
                    <ms-widget-front class="white-bg">
                        <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                            <div class="h3">Agendamentos</div>
                        </div>
                        <div class="pt-8 pb-32" layout="column" layout-align="center center">
                            <div class="orange-fg font-size-72 line-height-72">
                                {{vm.ordersCountTM}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">MÊS ATUAL</div>
                        </div>
                        <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                            <span class="h4 secondary-text text-truncate">Semana atual:</span>
                            <span class="h4 ml-8">{{vm.ordersCountTW}}</span>
                        </div>
                    </ms-widget-front>
                    <!-- / Front -->
                    <!-- Back -->
                    <ms-widget-back class="p-16 white-bg">
                        <div class="flip-to-front">
                            <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                                <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                            </md-button>
                        </div>
                        <div>
                            Alguns detalhes
                        </div>
                    </ms-widget-back>
                    <!-- / Back -->
                </ms-widget>
                <!-- / WIDGET 3 -->
                <!-- WIDGET 4 -->
                <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">
                    <!-- Front -->
                    <ms-widget-front class="white-bg">
                        <div class="pl-16 pr-8 pv-16 h-55" layout="row" layout-align="space-between center">
                            <div class="h3">Custo de Manutenção</div>
                        </div>
                        <div class="pt-8 pb-32" layout="column" layout-align="center center">
                            <div class="blue-grey-fg font-size-40 line-height-72">
                                {{vm.ordersTotalTM | currency:'R$'}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">MÊS ATUAL</div>
                        </div>
                        <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                            <span class="h4 secondary-text text-truncate">Semana atual:</span>
                            <span class="h4 ml-8">{{vm.ordersTotalTW | currency:'R$'}}</span>
                        </div>
                    </ms-widget-front>
                    <!-- / Front -->
                    <!-- Back -->
                    <ms-widget-back class="p-16 white-bg">
                        <div class="flip-to-front">
                            <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                                <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                            </md-button>
                        </div>
                        <div>
                            <b>Custo Total:</b> {{vm.ordersTotal | currency:'R$'}}
                        </div>
                    </ms-widget-back>
                    <!-- / Back -->
                </ms-widget>
                <!-- / WIDGET 4 -->
            </div>
            <!-- / WIDGET GROUP -->
            <!-- WIDGET GROUP -->
            <div class="widget-group" layout="row" flex="100" layout-wrap>
                <!-- WIDGET 5 -->
                <ms-widget layout="row" flex="100">
                    <!-- Front -->
                    <ms-widget-front class="white-bg">
                        <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center" layout-wrap>
                            <div class="pv-8 h3">{{vm.widget5.title}}</div>
                            <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end" flex-sm="100">
                                <md-button class="ph-16" ng-repeat="(key, range) in vm.widget5.ranges" ng-click="vm.widget5.changeRange(key)" ng-disabled="vm.widget5.currentRange == key">
                                    {{range}}
                                </md-button>
                            </div>
                        </div>
                        <div layout="row" layout-align="start" layout-wrap>
                            <div class="p-16" layout="row" flex="100">
                                <nvd3 class="h-420 remove-x-lines" config="vm.widget5.mainChart.config" options="vm.widget5.mainChart.options" data="vm.widget5.mainChart.data"></nvd3>
                            </div>
                            <!-- <div class="p-16" layout="row" flex="100" flex-gt-sm="50" layout-wrap>
                                <div class="p-16" layout="column" flex="100" flex-gt-xs="50" layout-align="start" ng-repeat="(name, widget) in vm.widget5.supporting.widgets">
                                    <div class="h4 secondary-text">{{widget.data.label}}</div>
                                    <div class="md-display-1">
                                        {{widget.data.count[vm.widget5.currentRange]}}
                                    </div>
                                    <nvd3 class="h-50" config="vm.widget5.supporting.chart.config" options="vm.widget5.supporting.chart.options" data="widget.chart.data"></nvd3>
                                </div>
                            </div> -->
                        </div>
                    </ms-widget-front>
                </ms-widget>
                <!-- / WIDGET 5 -->
            </div>
            <!-- / WIDGET GROUP -->
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>
