#home {

    .header {
        background: url('/assets/images/backgrounds/carro-garagem-home.jpg') no-repeat bottom center;
        background-size: cover;
        max-height: 400px;
        height: 400px;
    }
}
