<div class="order-detail-form-container status md-background-bg md-whiteframe-1dp">
    <div class="pb-16" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-clock" class="m-0 mr-16"></md-icon>
        <div class="h2 secondary-text">Status do Agendamento</div>
    </div>
    <table class="simple" ms-responsive-table>
        <thead>
            <tr>
                <th>Status</th>
                <th>Atualizado em</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="status in vm.order.status">
                <td>
                    <span class="status {{status.color}}">{{status.name}}</span>
                </td>
                <td>
                    {{status.date | amDateFormat: 'DD/MM/YYYY - HH:mm'}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="update-status" layout="row" layout-align="start center">
        <md-input-container flex>
            <label>Selecione o Status</label>
            <md-select ng-model="vm.newStatus">
                <md-option ng-repeat="status in vm.statuses" value="{{status.$id}}">
                    {{status.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-button class="md-raised md-accent" ng-click="vm.updateStatus(vm.newStatus)" ng-disabled="!vm.newStatus">
            Atualizar Status
        </md-button>
    </div>
</div>

