<div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
    <md-content class="content" ms-scroll id="quote-details">
        <div class="page-layout simple">
            <div class="header">
                <div layout="column" layout-align="center center" flex ng-if="vm.isQuoteCompleted()">
                    <div class="h1 mb-10"><b>Seu orçamento está pronto</b></div>
                    <div class="secondary-text text-center"><b>Basta você clicar no botão "Agendar" para escolher o melhor dia e horário para deixarmos seu carro Nos Trinques!</b></div>
                </div>
                <div layout="column" layout-align="center center" flex ng-if="vm.isQuotePending()">
                    <div class="h1 mb-10"><b>Seu orçamento está pendente</b></div>
                    <div class="secondary-text"><b>Estamos trabalhando para entregar o melhor orçamento para seu carro.</b></div>
                </div>
                <div layout="column" layout-align="center center" flex ng-if="vm.isAppointmentBooked()">
                    <div class="h1 mb-10"><b>Esse orçamento já foi agendado</b></div>
                    <div class="secondary-text"><b></b></div>
                </div>
                <div layout-gt-sm="row" class="status-bar" hide show-gt-sm>
                    <div class="text-center" flex-gt-sm layout-sm="row">
                        <div>Orçamento solicitado</div>
                        <md-icon md-font-icon="icon-check-circle" class="icon s20 md-accent-fg"></md-icon>
                    </div>
                    <div class="text-center" flex-gt-sm layout-sm="row">
                        <div>Agendamento realizado</div>
                        <md-icon md-font-icon="icon-check-circle" class="icon s20 md-accent-fg" ng-if="vm.hasStatus('appointment-booked')"></md-icon>
                        <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="icon s20" ng-if="!vm.hasStatus('appointment-booked')"></md-icon>
                        <md-progress-linear md-mode="determinate" value="100" class="status-line md-accent" hide show-gt-sm></md-progress-linear>
                    </div>
                    <div class="text-center" flex-gt-sm layout-sm="row">
                        <div>Mêcânico em atendimento</div>
                        <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="icon s20"></md-icon>
                        <md-progress-linear md-mode="determinate" value="100" class="status-line md-accent" hide show-gt-sm></md-progress-linear>
                    </div>
                    <div class="text-center" flex-gt-sm layout-sm="row">
                        <div>Agendamento concluído</div>
                        <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="icon s20"></md-icon>
                        <md-progress-linear md-mode="determinate" value="100" class="status-line md-accent" hide show-gt-sm></md-progress-linear>
                    </div>
                </div>
                <div layout="row" layout-align="center" class="status-bar" hide-gt-sm>
                    <div layout="column">
                        <div>
                            <md-icon md-font-icon="icon-check-circle" class="icon s20 m-10 md-accent-fg"></md-icon>
                            <md-progress-linear md-mode="determinate" value="100" class="status-line-v md-accent"></md-progress-linear>
                        </div>
                        <div>
                            <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="icon s20"></md-icon>
                            <md-progress-linear md-mode="determinate" value="100" class="status-line-v md-accent"></md-progress-linear>
                        </div>
                        <div>
                            <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="icon s20"></md-icon>
                            <md-progress-linear md-mode="determinate" value="100" class="status-line-v md-accent"></md-progress-linear>
                        </div>
                        <div>
                            <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="icon s20"></md-icon>
                        </div>
                    </div>
                    <div layout="column">
                        <div class="status-title">Orçamento solicitado</div>
                        <div class="status-title">Agendamento realizado</div>
                        <div class="status-title">Mêcânico em atendimento</div>
                        <div class="status-title">Agendamento concluído</div>
                    </div>
                </div>
            </div>
            <!-- / HEADER -->
            <!-- CONTENT -->
            <div class="content mt-100" flex>
                <div layout-gt-sm="row" layout-gt-xs="column" layout-sm="column" layout-align-gt-sm="center start" flex-gt-sm="60" flex class="mb-20">
                    <div class="title secondary-text" flex="30">Solicitado em</div>
                    <div class="h3" flex>{{vm.quote.createdAt | amDateFormat: 'LLLL'}}</div>
                </div>
                <div layout-gt-sm="row" layout-gt-xs="column" layout-sm="column" layout-align-gt-sm="center start" flex-gt-sm="60" flex class="mb-20">
                    <div class="title secondary-text" flex="30">Seu endereço</div>
                    <div class="h3" flex>{{vm.quote.address | address}}</div>
                </div>
                <div layout-gt-sm="row" layout-gt-xs="column" layout-sm="column" layout-align-gt-sm="center start" flex-gt-sm="60" flex class="mb-20">
                    <div class="title secondary-text" flex="30">Seu carro</div>
                    <div class="h3" flex>{{vm.quote.car | car}}</div>
                </div>
                <div layout-gt-sm="row" flex-gt-sm="60" flex>
                    <div class="title secondary-text" flex="30">Seus serviços</div>
                    <div layout="column" flex>
                        <div layout="row" ng-repeat="service in vm.quote.services">
                            <div flex="75">
                                <span class="h3">{{service.name}}</span>
                                <span class="secondary-text" ng-if="service.laborTime">({{service.laborTime | duration}})</span>
                            </div>
                            <div class="h3 text-right" flex ng-if="vm.hasStatus('quote-completed')"><b>{{vm.calculatePriceByService(service) | currency: 'R$'}}</b></div>
                        </div>
                        <div layout="row" class="mt-40">
                            <div flex="75" layout="column" layout-align="center start">
                                <b class="h3">Total</b>
                                <span class="secondary-text">(mão de obra + peças)</span>
                            </div>
                            <div class="h1 text-right" flex layout="column" layout-align="center end">
                                <b ng-if="vm.hasStatus('quote-completed')">{{vm.quote.amount.total | currency: 'R$'}}</b>
                                <b ng-if="vm.isQuotePending()">Pendente</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / CONTENT -->
        </div>
    </md-content>
</div>
