<div class="order-detail-form-container status md-background-bg md-whiteframe-1dp">
    <div class="pb-16" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-engine" class="m-0 mr-16"></md-icon>
        <div class="h2 secondary-text">Serviços</div>
    </div>
    <md-chips ng-model="vm.order.services" md-autocomplete-snap md-transform-chip="vm.transformChipService($chip)" md-require-match="false">
        <md-autocomplete md-selected-item="vm.selectedItem" md-search-text="vm.searchText" md-items="service in vm.searchService(vm.searchText)" md-item-text="service.name" placeholder="Serviços">
            <span md-highlight-text="vm.searchText">{{service.name}}</span>
        </md-autocomplete>
        <md-chip-template>
            <span>
          <strong>{{$chip.name}}</strong>
        </span>
        </md-chip-template>
    </md-chips>
    <div class="h3 secondary-text pt-50">Alterar Serviço</div>
    <div layout="row" layout-align="start center">
        <md-input-container flex>
            <label>Selecione o serviço</label>
            <md-select ng-model="vm.editService">
                <md-option ng-repeat="service in vm.order.services" ng-value="service">
                    {{service.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <form ng-if="vm.editService">
        <div layout="row" layout-align="start center">
            <div class="h3 secondary-text" flex>Peças</div>
            <md-button class="md-raised md-accent" ng-click="vm.addPart()">
                Adicionar Peça
            </md-button>
        </div>
        <div layout-gt-sm="row" layout-align="start center" ng-repeat="part in vm.editService.parts">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Nome</label>
                <input type="text" ng-model="part.name">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Preço (cada)</label>
                <input type="text" ng-model="part.price" ui-number-mask>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Quantidade</label>
                <input type="text" ng-model="part.quantity" ui-number-mask="0">
            </md-input-container>
            <div ng-click="vm.removePart($index)">
                <md-icon md-font-icon="icon-close" class="ml-16 mr-16"></md-icon>
            </div>
        </div>
        <div layout-gt-sm="row" layout-align="center" ng-if="vm.editService.parts | isEmpty">
            Nenhuma peça cadastrada
        </div>
        <md-input-container class="md-block md-icon-float">
            <label>Tempo de serviço (em minutos)</label>
            <md-icon md-font-icon="icon icon-clock"></md-icon>
            <input type="text" ng-model="vm.editService.laborTime" ui-number-mask="0">
            <div class="input-hint">{{vm.editService.laborTime | duration}}</div>
        </md-input-container>
    </form>
</div>
