<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div class="bg-mask"></div>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="logo">
                <img class="logo-image" src="assets/images/logos/logo.png" />
            </div>
            <form name="loginForm" novalidate ng-submit="vm.login()">
                <div ng-if="vm.error" class="md-accent-fg text-center" translate="{{vm.error}}"></div>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.user.email" placeholder="Email" translate translate-attr-placeholder="LOGIN.EMAIL" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="LOGIN.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="LOGIN.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.user.password" placeholder="Password" translate translate-attr-placeholder="LOGIN.PASSWORD" required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span translate="LOGIN.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <div class="remember-forgot-password" layout="row" layout-xs="column" layout-align="center center">
                    <a ui-sref="app.forgot-password" class="forgot-password md-accent-color" translate="LOGIN.FORGOT_PASSWORD">Forgot Password?</a>
                </div>
                <md-button type="submit" class="md-raised md-accent submit-button md-block" aria-label="LOG IN" ng-disabled="loginForm.$invalid || loginForm.$pristine" translate="LOGIN.LOG_IN" translate-attr-aria-label="LOGIN.LOG_IN" ng-if="!vm.loading">
                    LOG IN
                </md-button>
                 <div class="md-padding" layout="row" layout-align="center center" flex="100" ng-if="vm.loading">
                    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                </div>
            </form>
        </div>
    </div>
</div>
