#car {
    > .header {
        height: 120px;
        min-height: 120px;
        max-height: 120px;
        .goto-orders-button {
            margin-right: 16px;
        }
        .subtitle {
            margin: 6px 0 0 0;
        }
    }
    .order-detail-form-container {
        padding: 24px;
        margin-bottom: 24px;
        .status {
            font-size: 12px;
            white-space: nowrap;
            padding: 2px 5px;
            border-radius: 2px;
        }
        &.products {
            padding: 0;
            .dataTables_wrapper {
                .dataTables_scrollHead {
                    box-shadow: none;
                }
                .dataTables_scrollBody {
                    table {
                        tr {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
