<div id="car" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-orders-button md-icon-button" aria-label="Go Back"
                       ng-click="goBack()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="column" layout-align="start start">
                <div class="h2">
                    <span>{{vm.car | car}}</span>
                </div>

                <div class="subtitle secondary-text">
                    <span>{{vm.car.plate | carPlate}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>
            <md-tab>
                <md-tab-label>
                    <span class="md-accent-fg">Orçamentos</span>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="'app/main/pages/car/tabs/quotes/car-quotes.html'"></div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <span class="md-accent-fg">Agendamentos</span>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="'app/main/pages/car/tabs/orders/car-orders.html'"></div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>
