<div class="md-inline-form">
    <p>Escolha o melhor dia e horário que se encaixa em sua agenda.</p>
    <div layout="row" flex>
        <md-input-container>
            <label>Dia</label>
            <md-datepicker name="appointment_date" ng-model="vm.appointmentDate" md-min-date="vm.minDate" ng-change="vm.setDate()" ng-required="!vm.needQuote"></md-datepicker>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Horário</label>
            <md-select name="time" ng-model="vm.time" ng-change="vm.setDate()" ng-required="!vm.needQuote" ng-disabled="!vm.appointmentDate">
                <md-option ng-repeat="time in vm.availableTimes" ng-value="time">
                    {{time}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
