<div class="md-inline-form">
    <p>Qual carro você precisa deixar NosTrinques?</p>
    <!--  MY CARS -->
    <div layout-gt-sm="row" layout-sm="row">
        <md-input-container class="md-block md-accent" flex>
            <label>Placa</label>
            <input type="text" name="plate" ng-model="vm.plate" ui-br-car-plate-mask ng-change="vm.findCarByPlate()" required>
            <div ng-if="vm.book.car">
                <b>Carro selecionado:</b> {{vm.book.car | car}}
            </div>
            <div ng-if="vm.loadingCar">
                <b>Buscando carro...</b>
            </div>
            <div ng-if="vm.carNotFound">
                <b>Nenhum carro encontrado</b>
            </div>
        </md-input-container>
        <div class="mt-10">
            <md-button type="button" md-no-ink class="md-raised md-accent" ng-click="vm.openAddCarDialog($event)">
                Novo carro
            </md-button>
        </div>
    </div>
    <!-- / MY CARS -->
</div>
<input type="hidden" ng-model="vm.book.car" required/>
