<div class="md-inline-form">
    <p>Escolha o que seu carro precisa. Nossos mecânicos vão te atender com todas as ferramentas e peças necessárias para o serviço.</p>
    <div layout="row" flex>
        <md-list ng-cloak flex-gt-sm="80" flex="100">
            <md-subheader class="md-no-sticky">Serviços disponíveis</md-subheader>
            <md-list-item ng-repeat="service in vm.services" ng-click="vm.toogleService(service)" ng-class="{'md-accent-bg': vm.existsService(service)}">
                <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="icon" ng-if="!vm.existsService(service)"></md-icon>
                <md-icon md-font-icon="icon-check-circle" class="icon" ng-if="vm.existsService(service)"></md-icon>
                <p> {{ ::service.name }}</p>
            </md-list-item>
        </md-list>
    </div>
    <md-button class="md-background md-raised" ng-click="vm.addDiagnostic($event)">Não sei o problema</md-button>
    <md-button class="md-background md-raised" ng-click="vm.addOtherService($event)">Preciso de outro serviço</md-button>
</div>
<input type="hidden" ng-model="vm.serviceRequired" required/>
