<div class="md-inline-form">
    <p>Informe o local que você deseja ser atendido, pode ser a garagem da sua casa ou seu trabalho, por exemplo.</p>
    <div layout="column" layout-gt-sm="row" layout-sm="row" flex>
        <md-input-container flex flex-gt-sm="60">
            <label>CEP</label>
            <input type="text" name="zip" ng-model="vm.book.address.zip" md-no-asterisk ng-change="vm.findAddressByZip()" ui-br-cep-mask required>
            <div ng-messages="bookStep3.zip.$error" role="alert">
                <div ng-message="required">
                    <span></span>
                </div>
                <div ng-message="cep">
                    <span>CEP Inválido</span>
                </div>
            </div>
            <div ng-if="vm.zipError">
                <span class="md-warn-fg font-size-12">{{vm.zipError}}</span>
            </div>
            <div ng-if="vm.book.address.city" class="md-accent-fg">{{vm.book.address | address}}</div>
        </md-input-container>
        <md-input-container flex flex-gt-sm="20">
            <label>Número</label>
            <input type="number" name="number" ng-model="vm.book.address.number" required md-no-asterisk>
            <div ng-messages="bookStep3.number.$error" ng-show="form.number.$touched" role="alert">
                <div ng-message="required">
                    <span></span>
                </div>
            </div>
        </md-input-container>
    </div>
    <div layout="column" layout-gt-sm="row" layout-sm="row" flex>
        <md-input-container flex="100" flex-gt-sm="80">
            <label>Complemento</label>
            <input type="text" name="complement" ng-model="vm.book.address.complement">
        </md-input-container>
    </div>
    <input type="hidden" ng-model="vm.book.address.state" required/>
</div>
