<div id="forgot-password" class="flex-scrollable" layout="column" ms-scroll>
<div class="bg-mask"></div>
    <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
        <div id="forgot-password-form" class="md-whiteframe-8dp">
            <div class="logo">
                <img src="assets/images/logos/logo.png" />
            </div>

            <div class="title" translate="FORGOTPASSWORD.TITLE">Recover your password</div>

            <p ng-if="vm.sended">Enviamos para o email ({{vm.email}}) um link para a troca da sua senha</p>
            <form name="form" novalidate ng-submit="vm.sendPasswordResetEmail()" ng-if="!vm.sended">
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.email" placeholder="Email address"
                           translate translate-attr-placeholder="FORGOTPASSWORD.EMAIL_ADRESS"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="form.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="FORGOTPASSWORD.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="FORGOTPASSWORD.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="RESET MY PASSWORD"
                           ng-disabled="form.$invalid || form.$pristine"
                           translate="FORGOTPASSWORD.SEND_RESET_LINK"
                           translate-attr-aria-label="FORGOTPASSWORD.SEND_RESET_LINK">
                    SEND RESET LINK
                </md-button>
            </form>

            <div class="login" layout="row" layout-align="center center">
                <a class="md-accent" ui-sref="app.login" translate="FORGOTPASSWORD.GO_BACK">Go back to login</a>
            </div>
        </div>
    </div>
</div>