#forgot-password {
    height: 100%;
    //background: url('/assets/images/backgrounds/casal-carro-login.jpg') no-repeat;
    background-size: cover;

    .bg-mask {
        position: absolute;
        background: #000;
        height: 100%;
        opacity: 0.5;
        filter: alpha(opacity=50); 
        width: 100%;
        z-index: 0;
    }

    #forgot-password-form-wrapper {
        flex: 1 0 auto;
        padding: 32px;

        #forgot-password-form {
            width: 384px;
            max-width: 384px;
            padding: 32px;
            text-align: center;
            background: #FFFFFF;
            z-index: 1;
            .logo {
                img {
                    height: 60px;
                    line-height: 60px;
                    margin-bottom: 32px;
                    text-align: center;
                }
            }

            .title {
                font-size: 17px;
                margin: 16px 0 32px 0;
            }

            form {
                width: 100%;
                text-align: left;

                .submit-button {
                    width: 100%;
                    margin: 16px auto;
                    display: block;
                }
            }

            .login {
                margin: 32px auto 24px auto;
                width: 250px;
                font-weight: 500;

                .text {
                    margin-right: 8px;
                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #forgot-password {

        #forgot-password-form-wrapper {
            padding: 16px;

            #forgot-password-form {
                padding: 24px;
                width: 100%;

                form {

                    .md-button {
                        width: 100%;
                    }
                }
            }
        }
    }

}