#layout-content-with-toolbar {

    #toolbar {
        padding: 0 0 0 16px;
        
        .logo {
            margin-right: 16px;

            .logo-image {
                display: block;
                width: 50px;
                min-width: 50px;
                text-align: center;
            }

            .logo-text {
                color: rgba(0, 0, 0, 0.87);
                margin-left: 16px;
                font-size: 16px;
            }
        }
    }
}