<div id="dashboard-cars" class="page-layout carded fullwidth" layout="row">
    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center" layout="column" flex>
        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-car"></md-icon>
                    <span>Carros</span>
                </div>
                <div class="quotes-count secondary-text">
                    <span>Total de carros:</span>
                    <span>{{vm.cars.length}}</span>
                </div>
            </div>
            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="cars-search" class="search-input" type="text" placeholder="Procurar" flex>
            </div>
            <div>
                <md-button type="button" md-no-ink class="md-raised" ng-click="vm.openAddCarDialog($event)">
                    Novo carro
                </md-button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>
                <table id="cars" class="dataTable row-buser hover" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Placa</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title"></span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Marca</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Modelo</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Ano</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Ações</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="car in vm.cars">
                            <td>{{car.plate | carPlate}}</td>
                            <td><img class="make-img" ng-src="assets/images/logos/car_makes/{{car.make.id}}.png" /></td>
                            <td>{{car.make.name}}</td>
                            <td>{{car.model.name}}</td>
                            <td>{{car.year}}</td>
                            <td>
                                <md-button class="edit-button md-icon-button" aria-label="car details" ng-click="vm.goToCar(car.$id)">
                                    <md-icon md-font-icon="icon-dots-horizontal" class="s20"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
