<md-toolbar class="navigation-header md-whiteframe-1dp md-background" layout="row" layout-align="space-between center">
    <div class="logo" layout="row" layout-align="start center">
       <img class="logo-image" src="assets/images/logos/logo.png" show-gt-sm />
    </div>
<!-- 
    <md-icon class="fold-toggle s18" md-font-icon="icon-backburger" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()"></md-icon> -->
</md-toolbar>

<ms-navigation class="scrollable md-background-bg" folded="vm.folded" ms-scroll="vm.msScrollOptions"></ms-navigation>