<div class="box-summary" md-whiteframe="1" hide show-gt-sm ng-transclude>
    <div class="toolbar md-accent-bg" layout="row">
        <div layout="column" layout-align="center start" ng-if="!vm.loadingPrice && !vm.needQuote">
            <span class="title secondary-text">Total</span>
            <span class="price-total h2">{{vm.book.amount.total | currency:'R$'}}</span>
        </div>
        <div layout="column" layout-align="center start" ng-if="vm.loadingPrice">
            <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
        </div>
        <div layout="column" layout-align="center start" ng-if="!vm.loadingPrice && vm.needQuote">
            <span class="title secondary-text">Orçamento automático indisponível</span>
            <span>Conclua esse formulário para te enviarmos um orçamento detalhado dos serviços solicitados.</span>
        </div>
        <span flex></span>
        <div layout="column" layout-align="center start" ng-if="vm.book.laborTime">
            <span class="secondary-text">Tempo estimado</span>
            <span>{{vm.book.laborTime | duration}}</span>
        </div>
    </div>
    <div class="md-padding">
        <p class="h2 mt-0 text-bold">Resumo</p>
        <!-- CAR -->
        <div layout="row" layout-align="center center" class="mb-10" ng-if="vm.book.car">
            <md-icon md-font-icon="icon-car" class="icon no-margin" flex="10"></md-icon>
            <span flex>{{vm.book.car | car}}</span>
        </div>
        <p class="text-bold" ng-if="!vm.book.car"><u>Selecione um carro</u></p>
        <!-- /CAR -->
        <!-- SERVICES -->
        <div layout="row" layout-align="start" class="mb-10" ng-if="!(vm.book.services | isEmpty)">
            <md-icon md-font-icon="icon-engine" class="icon no-margin" flex="10"></md-icon>
            <div layout="column" flex class="list-services">
                <span ng-repeat="service in vm.book.services">
                    {{service.name}}
                </span>

            </div>
        </div>
        <p class="text-bold" ng-if="vm.book.car && (vm.book.services | isEmpty)"><u>Selecione um serviço</u></p>
        <!-- /SERVICES -->
        <!-- LOCATION -->
        <div layout="row" layout-align="start" ng-if="vm.book.address.zip && vm.book.address">
            <md-icon md-font-icon="icon-map-marker" class="icon no-margin" flex="10"></md-icon>
            <span flex>{{vm.book.address | address}}</span>
        </div>
        <p class="text-bold" ng-if="vm.book.car && !(vm.book.services | isEmpty) && !vm.book.address"><u>Defina o local de atendimento</u></p>
        <!-- /LOCATION -->
        <!-- PROBLEMS -->
        <div layout="row" layout-align="center center" class="mb-10" ng-if="vm.book.problems">
            <md-icon md-font-icon="icon-help" class="icon no-margin" flex="10"></md-icon>
            <span flex>{{vm.book.problems}}</span>
        </div>
        <!-- /PROBLEMS -->
    </div>
</div>