/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

.btn-facebook{
	background-color: rgb(63, 92, 154);
}

.facebook-color{
	color: rgb(63, 92, 154) !important;
}

md-input-container.editable-controls {
  padding: 0;
}


//Xeditable
md-input-container.editable-controls [ng-message] {
  position: static;
}

.editable-click, a.editable-click {
	border-bottom: none;
}
