<div class="order-detail-form-container products md-background-bg md-whiteframe-1dp">
    <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtQuotesInstance" dt-options="vm.dtQuotesOptions">
        <thead>
            <tr>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Serviços</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Status</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Solicitado em</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Ações</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="quote in vm.quotes">
                <td ng-bind-html="quote.services | services"></td>
                <td>{{quote.status}}</td>
                <td>{{quote.createdAt | amDateFormat: 'DD/MM/YYYY - HH:mm'}}</td>
                <td>
                    <md-button class="edit-button md-icon-button" aria-label="quote details" ng-click="vm.goToQuote(quote.$id)">
                        <md-icon md-font-icon="icon-dots-horizontal" class="s20"></md-icon>
                    </md-button>
                    <md-button type="button" class="md-raised" ui-sref="app.book({quoteId: quote.$id})" ng-if="vm.isQuoteCompleted(quote)">
                        Agendar
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
