<div id="order" class="page-layout simple tabbed" layout="column">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to Quotes" ng-click="goBack()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>
            <div layout="row" layout-align="start center" flex>
                <div layout="column" layout-align="start start">
                    <div class="h2">
                        Agendamento {{vm.order.$id}}
                    </div>
                    <div class="subtitle secondary-text">
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.hasPermission">
            <md-button type="button" md-no-ink class="md-raised" ng-click="vm.save()">
                Salvar
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content">
        <md-tabs md-dynamic-height>
            <md-tab>
                <md-tab-label>
                    <span class="md-accent-fg">Detalhes</span>
                </md-tab-label>
                <md-tab-body>
                    <div class="details-tab" ng-include="'app/main/pages/order/tabs/details/order-details.html'"></div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-if="vm.hasPermission">
                <md-tab-label>
                    <span class="md-accent-fg">Status</span>
                </md-tab-label>
                <md-tab-body>
                    <div class="status-tab" ng-include="'app/main/pages/order/tabs/status/order-status.html'"></div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-if="vm.hasPermission">
                <md-tab-label>
                    <span class="md-accent-fg">Serviços</span>
                </md-tab-label>
                <md-tab-body>
                    <div class="edit-tab" ng-include="'app/main/pages/order/tabs/services/order-services.html'"></div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
    <!-- / CONTENT -->
</div>
