#order-details {
    .header {
        height: auto !important;
        min-height: auto !important;
        max-height: none;
        .btn-book {
            width: 250px;
        }
        .status-bar {
            margin: 32px 0px;
            .status-line {
                top: -25%;
                left: -45%;
                width: 90%;
                height: 2px;
                .md-container {
                    height: 2px;
                    .md-bar {
                        height: 2px;
                    }
                }
            }
            .status-title {
                line-height: 20px;
                height: 20px;
                margin: 10px;
            }
            .status-line-v {
                top: 1px;
                left: 25%;
                width: 50%;
                height: 2px;
                -ms-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                .md-container {
                    height: 2px;
                    .md-bar {
                        height: 2px;
                    }
                }
            }
        }
    }
}

#order {
    .md-chips .md-chip-input-container md-autocomplete input {
        width: 400px;
    }
    .header {
        height: 120px;
        min-height: 120px;
        max-height: 120px;
        .goto-products-button {
            margin-right: 16px;
        }
        .product-image {
            overflow: hidden;
            width: 56px;
            height: 56px;
            margin-right: 16px;
            border: 3px solid rgba(0, 0, 0, 0.12);
            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }
        .subtitle {
            margin: 6px 0 0 0;
        }
    }
    .product-detail-form-container {
        padding: 24px;
        #product-image-uploader {
            position: relative;
            &.dropping {
                .drop-text {
                    display: flex;
                }
            }
            .drop-text {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 16px;
                text-align: center;
                border: 2px dashed rgba(0, 0, 0, 0.12);
                background: #FFFFFF;
                font-size: 20px;
                z-index: 100;
            }
            .upload-button {
                margin-bottom: 16px;
            }
            .product-image {
                position: relative;
                width: 200px;
                height: 200px;
                border: 1px solid rgba(0, 0, 0, 0.12);
                margin: 8px;
                &.uploading {
                    .overlay {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: rgba(0, 0, 0, 0.87);
                    }
                }
                .media {
                    max-height: 100%;
                }
            }
        }
    }
    .order-detail-form-container {
        padding: 24px;
        margin-bottom: 24px;
        &.customer {
            table {
                margin-bottom: 16px;
            }
            .addresses {
                md-tab-content {
                    padding: 16px;
                }
                .address {
                    font-size: 16px;
                    padding: 8px 0 16px 0;
                }
            }
        }
        &.status {
            .status {
                white-space: nowrap;
                padding: 4px 8px;
                border-radius: 2px;
            }
            .update-status {
                margin-top: 16px;
            }
        }
        &.shipping {
            .tracking-code {
                &.editable-click {
                    cursor: pointer;
                }
            }
            .editable-controls {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 8px 0 8px 24px;
                input {
                    border: 1px solid rgba(0, 0, 0, 0.12);
                    padding: 4px;
                }
                .editable-buttons {
                    button {
                        margin: 0;
                    }
                }
            }
        }
        &.products {
            padding: 0;
            .dataTables_wrapper {
                .dataTables_scrollHead {
                    box-shadow: none;
                }
                .dataTables_scrollBody {
                    table {
                        tr {
                            cursor: pointer;
                        }
                    }
                    .product-image {
                        width: 52px;
                        height: 52px;
                        border: 1px solid rgba(0, 0, 0, 0.12);
                    }
                }
            }
        }
    }
}
