<div id="dashboard-quotes" class="page-layout carded fullwidth" layout="row">
    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center" layout="column" flex>
        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-clipboard-text"></md-icon>
                    <span>Orçamentos</span>
                </div>
                <div class="quotes-count secondary-text">
                    <span>Total de orçamentos:</span>
                    <span>{{vm.quotes.length}}</span>
                </div>
            </div>
            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="quotes-search" class="search-input" type="text" placeholder="Procurar" flex>
            </div>
            <div>
                <md-button type="button" class="md-raised" ui-sref="app.book">
                    Novo Pedido
                </md-button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>
                <table id="quotes" class="dataTable row-buser hover" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Placa</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Carro</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Serviços</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Solicitado em</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Ações</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="quote in vm.quotes">
                            <td>{{quote.car.plate | carPlate}}</td>
                            <td>{{quote.car | car}}</td>
                            <td ng-bind-html="quote.services | services"></td>
                            <td>{{quote.status}}</td>
                            <td>{{quote.createdAt | amDateFormat: 'DD/MM/YYYY - HH:mm'}}</td>
                            <td>
                                <md-button class="edit-button md-icon-button" aria-label="quote details" ng-click="vm.goToQuote(quote.$id)">
                                    <md-icon md-font-icon="icon-dots-horizontal" class="s20"></md-icon>
                                </md-button>
                                <md-button type="button" class="md-raised" ui-sref="app.book({quoteId: quote.$id})" ng-if="vm.isQuoteCompleted(quote)">
                                    Agendar
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
