<!-- DIALOG -->
<md-dialog class="add-car-dialog" aria-label="Add Car">
    <form name="addCarForm" class="md-inline-form" novalidate>
        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent" layout="column">
            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">Adicionar Carro</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate translate-attr-aria-label="USER.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->
        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->
        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>
            <!-- MAKE -->
            <md-input-container class="md-icon-float md-block md-accent">
                <label>Marca</label>
                <md-icon md-font-icon="icon-car" class="name"></md-icon>
                <md-select ng-model="vm.car.make" name="make" ng-change="vm.getModelsByMake()" required md-no-asterisk ng-model-options="{trackBy: '$value.name'}" multiple="false">
                    <md-optgroup label="Marcas">
                        <md-option ng-value="make" ng-repeat="make in vm.makes">{{::make.name}}</md-option>
                    </md-optgroup>
                </md-select>
                <div ng-messages="addCarForm.make.$error" ng-show="addCarForm.make.$touched" role="alert">
                    <div ng-message="required">
                        <span>Obrigatório</span>
                    </div>
                </div>
            </md-input-container>
            <!-- / MAKE -->
            <!-- MODEL -->
            <md-input-container class="md-icon-float md-block md-accent">
                <label>Modelo</label>
                <md-icon></md-icon>
                <md-select ng-model="vm.car.model" name="model" required md-no-asterisk ng-disabled="!vm.car.make" ng-model-options="{trackBy: '$value.name'}">
                    <md-optgroup label="Modelos {{vm.car.make.name}}">
                        <md-option ng-value="model" ng-repeat="model in vm.models">{{::model.name}}</md-option>
                    </md-optgroup>
                </md-select>
                <div ng-messages="addCarForm.model.$error" ng-show="addCarForm.model.$touched" role="alert">
                    <div ng-message="required">
                        <span>Obrigatório</span>
                    </div>
                </div>
            </md-input-container>
            <!--  / MODEL -->
            <!-- YEAR -->
            <md-input-container class="md-icon-float md-block md-accent">
                <label>Ano</label>
                <md-icon></md-icon>
                <md-select ng-model="vm.car.year" name="year" required md-no-asterisk>
                    <md-optgroup label="Ano">
                        <md-option ng-value="n" ng-repeat="n in [] | range:1950:2017 | reverse">{{::n}}</md-option>
                    </md-optgroup>
                </md-select>
                <div ng-messages="addCarForm.year.$error" ng-show="addCarForm.year.$touched" role="alert">
                    <div ng-message="required">
                        <span>Obrigatório</span>
                    </div>
                </div>
            </md-input-container>
            <!-- / YEAR -->
            <!-- PLATE -->
            <md-input-container class="md-icon-float md-block md-accent">
                <label>Placa</label>
                <md-icon></md-icon>
                <input type="text" name="plate" ng-model="vm.car.plate" ui-br-car-plate-mask required>
                <div ng-messages="addCarForm.plate.$error" ng-show="addCarForm.plate.$touched" role="alert">
                    <div ng-message="required">
                        <span>Obrigatório</span>
                    </div>
                </div>
                <div ng-if="vm.plateError">
                    <span class="md-accent-fg font-size-12">{{vm.plateError}}</span>
                </div>
            </md-input-container>
            <!-- / PLATE -->
        </md-dialog-content>
        <!-- / DIALOG CONTENT -->
        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" ng-click="vm.saveCar()" class="send-button md-accent md-raised" ng-disabled="addCarForm.$invalid || addCarForm.$pristine">
                Salvar
            </md-button>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->
    </form>
</md-dialog>
<!-- / DIALOG -->
